body {
    margin: 0;
    font-family: "Montserrat";

}

* {
    box-sizing: border-box;   
}

.formulario {
    display: grid;
    justify-content: center;
    align-items: center;
}

label {
    display:block;
    margin-top:20px;
    letter-spacing:1px;
}
 
.principal {
    display:block;
    margin:0 auto;
    width:510px;
    color: #666666;
    font-family:Arial;
}
 
form {
    margin:0 auto;
    width:400px;
}
 
.cajas{
    width:380px;
    height:15px;
    background:#666666;
    border:2px solid #f6f6f6;
    padding:10px;
    margin-top:5px;
    font-size:10px;
    color:#ffffff;
    border-radius: 15px;
    box-shadow: 0 0 10px #0009;
    padding: 15px 5px;
}

.form__sex {
    padding: 20px 4px;
}

.cajas--sex{
    border-radius: 0;
    box-shadow: none;
}

select{
    width:400px;
    height:40px;
    background:#666666;
    border:2px solid #f6f6f6;
    padding:10px;
    margin-top:5px;
    font-size:12px;
    color:#ffffff;
}
textarea {
    height:150px;
}
 
.boton{
    width:85px;
    height:40px;
    border:none;
    margin-top:20px;
    cursor:pointer;
    border-radius: 10px;
    box-shadow: 0 0 5px #0009;
    transition: outline 1s;

}

.boton:hover {
    outline: 2px solid #666;
}
